body {
  font-family: 'Roboto Slab', serif;
  background: #37393d url("images/trooper.jpg") no-repeat center;
  background-size: cover;
  background-blend-mode: multiply;
  color: #e0d3c3;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  font-size: 8em;
  padding: 1%;
  margin: 1%;
}

.counters {
  padding: 1%;
  margin: 2%;
}

#letters {
  width: 900px;
  padding: 1%;
  margin: 2%;
}

#letters a {
  text-decoration: none;
  color: #e0d3c3;
  border: 1px solid #e0d3c3;
  padding: 10px;
  box-shadow: 2px 4px;
}

.hint {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3em;
  max-width: 75vw;
  margin: 0 auto;
}

.your-hint-is {
  font-size: .85em;
  font-weight: 900;
  text-transform: uppercase;
}

.section-one {
  height: 50vw;
  width: 100vw;
}

.section-two {
  height: 40vw;
  width: 100vw;
}

.github-logo {
  width: 45px;
  background-color: #e0d3c3;
  border-radius: 5px;
}
