body {
  font-family: 'Roboto Slab', serif;
  background-color: #FEFCFC;
  color: black;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header {
  font-size: 8em;
  padding: 1%;
  margin: 1%;
}

.counters {
  padding: 1%;
  margin: 2%;
}

#letters {
  width: 900px;
  padding: 1%;
  margin: 2%;
}

#letters a {
  text-decoration: none;
  color: black;
  border: 1px solid white;
  padding: 10px;
}

.hint {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 3em;
}

.your-hint-is {
  font-size: .85em;
  font-weight: 900;
  text-transform: uppercase;
}

.section-one {
  height: 50vw;
  width: 100vw;
}

.section-two {
  height: 40vw;
  width: 100vw;
}

.github-logo {
  width: 45px;
}
